{
    "env": {
      "browser": true,
      "node": true,
      "es6": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "rules": {
      "react/prop-types": 0
    },
    "globals": {
      "process": false,
      "cy": false,
      "it": false
    },
    "CI": false
  }